.watchlist-container {
    margin: 50px;
  }
  
  .watchlist-content {
    flex: 1;
    padding: 20px;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    width: 200px; /* Smaller width */
  }
  
  .movie-image {
    width: 100%;
    height: 250px; /* Smaller height */
  }
  
  .movie-info {
    padding: 10px;
  }
  
  .movie-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .movie-rating {
    color: #f39c12;
  }
  
  .movie-details {
    margin-top: 5px;
    font-size: 0.9rem;
  }
  
  .movie-plot {
    margin-top: 10px;
  }
  
  .remove-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .remove-button:hover {
    background-color: #c9302c;
  }
  
  .empty-watchlist {
    text-align: center;
    margin-top: 50px;
  }
  
  .add-movies-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .add-movies-link:hover {
    text-decoration: underline;
  }
  
  .heading {
    border: 1px solid rgb(12, 29, 85);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: #74521b;
  }
  