/* App.css */
.app-container {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: auto;
  transition: background-color 0.3s ease;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  height: fit-content;
  border-radius: 12px;
}

.sidebar-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #684c1e;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-item {
  margin-bottom: 20px;
}
li.sidebar-item {
  border-bottom: 0.2px solid rgb(4, 13, 34);
}

.sidebar-item a {
  text-decoration: none;
  color: #272a49;
  font-weight: bold;
}

.sidebar-item.active a {
  color: #007bff;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  width: 200px;
  border: 1px solid #ce6868;
  border-radius: 1px;
  margin: 10px;
}

.movie-image {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.movie-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #272a49;
}

.movie-rating {
  color: #f39c12;
}

.movie-details {
  margin-top: 5px;
  font-size: 0.9rem;
}

.movie-plot {
  margin-top: 10px;
}

.user-info {
  position: relative;
  display: grid;
  margin-top: 280px;
  font-weight: bolder;
  color: #272a49;
}

.my-list {
  color: rgb(165, 19, 68);
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.toggle-theme {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-theme:hover {
  background-color: #0056b3;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .sidebar {
  background-color: #333;
}

.dark-mode .sidebar-item a {
  color: #ffffff;
}

.dark-mode .sidebar-item.active a {
  color: #00bfff;
}

.dark-mode .toggle-theme {
  background-color: #fff;
  color: #333;
}

.dark-mode .toggle-theme:hover {
  background-color: #ccc;
}
