.app-container {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
}

.sidebar-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #8a601e;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-item a {
  text-decoration: none;
  color: #272a49;
  font-weight: bold;
}

.sidebar-item.active a {
  color: #007bff;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  width: 200px;
  border: 1px solid #ce6868;
  border-radius: 1=px;
  margin: 10px;
}

.movie-image {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.movie-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.movie-rating {
  color: #f39c12;
}

.movie-details {
  margin-top: 5px;
  font-size: 0.9rem;
}

.movie-plot {
  margin-top: 10px;
}

.user-info{
  position: relative;
  display: grid;
  margin-top: 280px;
  font-weight: bolder;
  color: #272a49;
}

.my-list{
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}